<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-online">
            <img src="/assets/img/avatars/13.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Waldemar Mannering</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">
                Refer friends. Get rewards.
            </p>
        </div>
        <small class="text-muted mb-auto">5 Minutes</small>
    </a>
</li>
<li class="chat-contact-list-item active">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Felecia Rower</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">
                I will purchase it for sure. 👍
            </p>
        </div>
        <small class="text-muted mb-auto">30 Minutes</small>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-busy">
            <span class="avatar-initial rounded-circle bg-label-success">CM</span>
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Calvin Moore</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">
                If it takes long you can mail inbox user
            </p>
        </div>
        <small class="text-muted mb-auto">1 Day</small>
    </a>
</li>
