<!-- Page JS -->
<script src="/assets/js/modal-edit-user.js"></script>
<script src="/assets/js/modal-edit-cc.js"></script>
<script src="/assets/js/modal-add-new-cc.js"></script>
<script src="/assets/js/modal-add-new-address.js"></script>
<script src="/assets/js/app-ecommerce-customer-detail.js"></script>
