<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="wrap">
            <div class="col-md-3">
                <a href="{{facebook}}" class="btn btn-info btn-sm"> <i class="fa-brands fa-facebook"></i> Facebook </a>
            </div>
            <div class="col-md-3">
                <a href="{{linkedin}}" class="btn btn-primary btn-sm"> <i class="fa-brands fa-linkedin"></i> LinkedIn </a>
            </div>
            <div class="col-md-3">
                <a href="{{github}}" class="btn btn-success btn-sm"> <i class="fa-brands fa-github"></i> Github </a>
            </div>
            <div class="col-md-3">
                <a href="{{google}}" class="btn btn-danger btn-sm"> <i class="fa-brands fa-google"></i> Google </a>
            </div>
        </div>
    </body>
</html>
