
        <div class="wrap">
           <div class="wrap">
            <a href="{{facebook}}" target="_blank" title="Facebook" class="label label-primary"  role="button" aria-label="" aria-controls="" style="color: yellow;">
            <input type="button" value="facebook" class="btn btn-primary">
           </a>
            <a href="{{linkedin}}" target="_blank" title="LinkedIn" class="label label-info"  role="button" aria-label="" aria-controls="">
            <input type="button" value="LinkeIn" class="btn btn-info primary">
           </a>
           </div>
          
           <div class="wrap">
            <a href="{{github}}" target="_blank" title="GitHub" class="label label-success"  role="button" aria-label="" aria-controls="">
            <input type="button" value="GitHub" class="btn btn-success">
           </a>
            <a href="{{google}}
            <input type="button" value="Google" class="btn btn-warning">
           </a>
           </div>
        </div>

