<!-- Vendors JS -->
<script src="/assets/vendor/libs/quill/katex.js"></script>
<script src="/assets/vendor/libs/quill/quill.js"></script>
<script src="/assets/vendor/libs/select2/select2.js"></script>
<script src="/assets/vendor/libs/dropzone/dropzone.js"></script>
<script src="/assets/vendor/libs/jquery-repeater/jquery-repeater.js"></script>
<script src="/assets/vendor/libs/flatpickr/flatpickr.js"></script>
<script src="/assets/vendor/libs/tagify/tagify.js"></script>
