
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<div class="wrap">
<h1>WordPress Plugin MVC Boilerplate SubLevel</h1>
<p>Additional Info for WordPress Plugin MVC Boilerplate SubLevel.</p>
<p><strong style="color:teal;">Result from view extension</strong>: {{working_function()}}</p>
<p><strong>Current User: </strong>{{user.user_email}}</p>
</div>

</body>
</html>

