<div class="avatar avatar-xl avatar-online" id="selected-chat-sidebar-user-status">
    <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" id="selected-chat-sidebar-user-avatar" />
</div>
<h6 class="mt-2 mb-0" id="selected-chat-sidebar-user-name">Felecia Rower</h6>
<span id="selected-chat-sidebar-user-job-title">NextJS Developer</span>
<i class="ti ti-x ti-sm cursor-pointer close-sidebar d-block" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right"></i>
