{% extends './layouts/app.njk' %}

<!-- Page Titlee-->
{% block pageTitle %}
  Calendar
{% endblock %}

<!-- Vendors CSS -->
{% block vendorStyles %}
  {% include './apps/calendar/partials/vendor-styles.njk' %}
{% endblock %}

<!-- Page CSS -->
{% block pageStyles %}
  <link rel="stylesheet" href="/assets/vendor/css/pages/app-calendar.css" />
{% endblock %}

{% block content %}
  {% include './apps/calendar/content.njk' %}
{% endblock %}

<!-- Page Side Menu -->
{% block asideMenu%}
  {% include './apps/calendar/partials/aside-menu.njk' %}
{% endblock %}

<!-- Vendors JS -->
{% block vendorScripts %}
  {% include './apps/calendar/partials/vendor-scripts.njk' %}
{% endblock %}

<!-- Page JS -->
{% block pageScripts %}
  <script src="/assets/js/app-calendar-events.js"></script>
  <script src="/assets/js/app-calendar.js"></script>
{% endblock %}
