{% extends './layouts/page.njk' %}

{% block pageTitle %} Password Reset Form{% endblock %}

 {% block vendersStyles %}
     <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
 {% endblock %}

 {% block pageStyles %}
   <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
 {% endblock %}

 {% block image %}
 
 <div class="d-none d-lg-flex col-lg-7 p-0">
          <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
            <img
              src="/assets/img/illustrations/auth-reset-password-illustration-light.png"
              alt="auth-reset-password-cover"
              class="img-fluid my-5 auth-illustration"
              data-app-light-img="illustrations/auth-reset-password-illustration-light.png"
              data-app-dark-img="illustrations/auth-reset-password-illustration-dark.png" />

            <img
              src="/assets/img/illustrations/bg-shape-image-light.png"
              alt="auth-reset-password-cover"
              class="platform-bg"
              data-app-light-img="illustrations/bg-shape-image-light.png"
              data-app-dark-img="illustrations/bg-shape-image-dark.png" />
          </div>
        </div>

 {% endblock %}

{% block content %}

 
        
             {% if user %}
             <div id="reset-success-notification" role="alert"></div>
             <h4 class="mb-1">Reset Password 🔒</h4>
              <p class="mb-4">for <span class="fw-medium">{{user.email}}</span></p>
            <form id="formAuthentication" class="mb-3" >
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="password">New Password</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    data-user="{{user.email}}"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                </div>
              </div>
              <div class="mb-3 form-password-toggle">
                <label class="form-label" for="confirm-password">Confirm Password</label>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="confirm-password"
                    class="form-control"
                    name="confirm-password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                </div>
              </div>
              <button class="btn btn-primary d-grid w-100 mb-3" id="passwordResetFormBtn">Set new password</button>
              <div class="text-center">
                <a href="auth-login-cover">
                  <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                  Back to login
                </a>
              </div>
            </form>
             {% else %}
             <h4 class="mb-1 text-danger">{{error.title}}🔒</h4>
             <div class="alert alert-danger mb-0 alert-dismissible animate__animated animate__flash" role="alert">
                        <h5 class="alert-heading mb-2" >{{error.message}}</h5>
                        <p class="mb-0 text-info">
                         Please make new password reset link request for a new password reset link. Thank you!
                        </p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
             {% endif %}

{% endblock %}

 {% block vendorsScripts %}
    <script src="/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
 {% endblock %}

 {% block pagesScripts %}
 <script src="/assets/js/fullpage/auth-password-reset.js"></script>
 {% endblock %}