{% extends './layouts/full/app.njk' %}

<!-- Page Title -->
{% block pageTitle %}
 Reset Password
{% endblock %}
<!-- Vendors CSS -->
{% block vendorStyles %}
  {% include  './auth/password/reset/partials/vendors/styles.njk' %}
{% endblock %}
  
<!-- Page CSS -->
{% block pageStyles %} 
  {% include  './auth/password/reset/partials/page/styles.njk' %}
{% endblock %}

 <!-- Content -->
{% block content %}
  {% include  './auth/password/reset/content.njk' %}
{% endblock %}

<!-- Vendors JS -->
{% block vendorScripts %}
  {% include  './auth/password/reset/partials/vendors/scripts.njk' %}
{% endblock %}

<!-- Page JS -->
{% block pageScripts %}
  {% include  './auth/password/reset/partials/page/scripts.njk' %}
{% endblock %}