{% extends './layouts/page.njk' %}

{% block pageTitle %} Password Reset Link{% endblock %}

 {% block vendersStyles %}
    <link rel="stylesheet" href="/assets/vendor/libs/node-waves/node-waves.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/typeahead-js/typeahead.css" />
 {% endblock %}

 {% block pageStyles %}
   <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
 {% endblock %}

 {% block image %}
 <div class="d-none d-lg-flex col-lg-7 p-0">
          <div class="auth-cover-bg auth-cover-bg-color d-flex justify-content-center align-items-center">
            <img
              src="/assets/img/illustrations/auth-forgot-password-illustration-light.png"
              alt="auth-forgot-password-cover"
              class="img-fluid my-5 auth-illustration"
              data-app-light-img="illustrations/auth-forgot-password-illustration-light.png"
              data-app-dark-img="illustrations/auth-forgot-password-illustration-dark.png" />

            <img
              src="/assets/img/illustrations/bg-shape-image-light.png"
              alt="auth-forgot-password-cover"
              class="platform-bg"
              data-app-light-img="illustrations/bg-shape-image-light.png"
              data-app-dark-img="illustrations/bg-shape-image-dark.png" />
          </div>
 </div>
 {% endblock %}

{% block content %}

{% if success %}
            <div class="alert alert-success mb-0 alert-dismissible animate__animated animate__flash" role="alert">
                        <h5 class="alert-heading mb-2 text-center" >Password Reset Link Invalid or Does not exist!</h5>
                        <p class="mb-0">
                          Please make a new password reset link request for your account.
                        </p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              {% endif %}


              <div id="success-notification" role="alert"></div>
            <!-- /Logo -->
            <h3 class="mb-1">Forgot Password? 🔒</h3>
            <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
            {# <form id="formAuthentication" class="mb-3" action="auth-reset-password-cover" method="POST"> #}
            {# <form id="formAuthentication" class="mb-3" action="/password/forgot" method="POST"> #}
             {# <form id="formAuthentication" class="mb-3" >
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control {% if error %} is-invalid {% endif %}"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  autofocus />

                  {% if error %}
              <span class="invalid-feedback animate__animated animate__flash" role="alert">
                <strong>{{error.msg}}</strong>
              </span>
              {% endif %}
              </div>
              
              <button class="btn btn-primary d-grid w-100" id="passwordResetLinkFormBtn">Send Reset Link</button>
            </form>
            <div class="text-center">
              <a href="/login" class="d-flex align-items-center justify-content-center">
                <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                Back to login
              </a>
            </div> #}

             <form id="formAuthentication" class="mb-3" >
              <div class="mb-3" id="">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter your email"
                  autofocus />
              </div>
              
              <button class="btn btn-primary d-grid w-100" id="passwordResetLinkFormBtn">Send Reset Link</button>
            </form>
            <div class="text-center">
              <a href="/login" class="d-flex align-items-center justify-content-center">
                <i class="ti ti-chevron-left scaleX-n1-rtl"></i>
                Back to login
              </a>
            </div>
{% endblock %}

 {% block vendorsScripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js"></script>
    <script src="/assets/vendor/libs/@form-validation/umd/bundle/popular.min.js"></script>
    <script src="/assets/vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js"></script>
    <script src="/assets/vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js"></script>
 {% endblock %}

 {% block pagesScripts %}
 {# <script src="/assets/js/pages-auth.js"></script> #}
 <script src="/assets/js/fullpage/auth-password-forgot.js"></script>

 {% endblock %}