{% extends './layouts/app.njk' %}

<!-- Page Title -->
{% block pageTitle %}
   CRM
{% endblock %}

<!-- Vendors CSS -->
{% block vendorStyles %}
  {% include './dashboard/crm/partials/vendor-styles.njk' %}
{% endblock %}

<!-- Page CSS -->
{% block pageStyles %}
  {% include './dashboard/crm/partials/page-styles.njk' %}
{% endblock %}

<!-- Page Content -->
{% block content %}
  {% include './dashboard/crm/content.njk' %}
{% endblock %}

<!-- Page Side Menu -->
{% block asideMenu%}
  {% include './dashboard/crm/partials/aside-menu.njk' %}
{% endblock %}

<!-- Vendors JS -->
{% block vendorScripts %}
  {% include './dashboard/crm/partials/vendor-scripts.njk' %}
{% endblock %}

<!-- Page JS -->
{% block pageScripts %}
  {% include './dashboard/crm/partials/page-scripts.njk' %}
{% endblock %}
