{% extends './layouts/app.njk' %}

<!-- Page Title -->
{% block pageTitle %}
  Home
{% endblock %}
<!-- Vendors CSS -->
{% block vendorStyles %}
  {% include './home/partials/vendor-styles.njk' %}
{% endblock %}

<!-- Page CSS -->
{% block pageStyles %}
  {% include './home/partials/page-styles.njk' %}
{% endblock %}

<!-- Page Content -->
{% block content %}
  {% include './home/content.njk' %}
{% endblock %}

<!-- Page Side Menu -->
{% block asideMenu%}
  {% include './home/partials/aside-menu.njk' %}
{% endblock %}

<!-- Vendors JS -->
{% block vendorScripts %}
  {% include './home/partials/vendor-scripts.njk' %}
{% endblock %}

<!-- Page JS -->
{% block pageScripts %}
  {% include './home/partials/page-scripts.njk' %}
{% endblock %}
