{% macro chat (user) %}
<li class="chat-contact-list-item" onclick="selectedChatUser('{{user._id}}')">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-{{user.status}}">
            <img src="{{user.avatar}}" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">{{user.firstname}} {{user.lastname}}</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">
                Refer friends. Get rewards.
            </p>
        </div>
        <small class="text-muted mb-auto">5 Minutes</small>
    </a>
</li>
{% endmacro %}