{% extends "./layouts/dashboard.njk" %}
{% block pageTitle %}

{% endblock %}

{% block vendorsStyles %}
    
{% endblock %}

{% block pagestyles %}
  
{% endblock %}
    
{% block content %}

{% endblock %}

{% block vendorsScripts%}

{% endblock %}

{% block pageScripts %}
   
{% endblock %}
