<div class="card card-action mb-4">
    <div class="card-header align-items-center">
        <h5 class="card-action-title mb-0">Connections</h5>
        <div class="card-action-element">
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical text-muted"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:void(0);">Share connections</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="d-flex align-items-start">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="me-2 ms-1">
                            <h6 class="mb-0">Cecilia Payne</h6>
                            <small class="text-muted">45 Connections</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-label-primary btn-icon btn-sm">
                            <i class="ti ti-user-check ti-xs"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="d-flex align-items-start">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="me-2 ms-1">
                            <h6 class="mb-0">Curtis Fletcher</h6>
                            <small class="text-muted">1.32k Connections</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-icon btn-sm">
                            <i class="ti ti-user-x ti-xs"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="d-flex align-items-start">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/10.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="me-2 ms-1">
                            <h6 class="mb-0">Alice Stone</h6>
                            <small class="text-muted">125 Connections</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-primary btn-icon btn-sm">
                            <i class="ti ti-user-x ti-xs"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="d-flex align-items-start">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="me-2 ms-1">
                            <h6 class="mb-0">Darrell Barnes</h6>
                            <small class="text-muted">456 Connections</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-label-primary btn-icon btn-sm">
                            <i class="ti ti-user-check ti-xs"></i>
                        </button>
                    </div>
                </div>
            </li>

            <li class="mb-3">
                <div class="d-flex align-items-start">
                    <div class="d-flex align-items-start">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/12.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="me-2 ms-1">
                            <h6 class="mb-0">Eugenia Moore</h6>
                            <small class="text-muted">1.2k Connections</small>
                        </div>
                    </div>
                    <div class="ms-auto">
                        <button class="btn btn-label-primary btn-icon btn-sm">
                            <i class="ti ti-user-check ti-xs"></i>
                        </button>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <a href="javascript:;">View all connections</a>
            </li>
        </ul>
    </div>
</div>
