<div class="col-md-12">
    <ul class="nav nav-pills flex-column flex-sm-row mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="javascript:void(0);"><i class="ti-xs ti ti-user-check me-1"></i> Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages-profile-teams"><i class="ti-xs ti ti-users me-1"></i> Teams</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages-profile-projects"><i class="ti-xs ti ti-layout-grid me-1"></i> Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="pages-profile-connections"><i class="ti-xs ti ti-link me-1"></i> Connections</a>
        </li>
    </ul>
</div>
