<div class="card-body">
    <p class="card-text text-uppercase">Overview</p>
    <ul class="list-unstyled mb-0">
        <li class="d-flex align-items-center mb-3">
            <i class="ti ti-check"></i><span class="fw-medium mx-2">Task Compiled:</span>
            <span>13.5k</span>
        </li>
        <li class="d-flex align-items-center mb-3">
            <i class="ti ti-layout-grid"></i><span class="fw-medium mx-2">Projects Compiled:</span>
            <span>146</span>
        </li>
        <li class="d-flex align-items-center"><i class="ti ti-users"></i><span class="fw-medium mx-2">Connections:</span> <span>897</span></li>
    </ul>
</div>
