{% macro left (chat) %}
<li class="chat-message">
    <div class="d-flex overflow-hidden">
        <div class="user-avatar flex-shrink-0 me-3">
            <div class="avatar avatar-sm">
                <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
            </div>
        </div>
        <div class="chat-message-wrapper flex-grow-1">
            <div class="chat-message-text">
                <p class="mb-0">Do you have design files for Vuexy?</p>
            </div>
            <div class="text-muted mt-1">
                <small>10:15 AM</small>
            </div>
        </div>
    </div>
</li>
{% endmacro %}