<li class="nav-item dropdown-language dropdown me-2 me-xl-0">
    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
        <i class="ti ti-language rounded-circle ti-md"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="en">
                <span class="align-middle">English</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="fr">
                <span class="align-middle">French</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="de">
                <span class="align-middle">German</span>
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="javascript:void(0);" data-language="pt">
                <span class="align-middle">Portuguese</span>
            </a>
        </li>
    </ul>
</li>
