<div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
        <i class="ti ti-menu-2 ti-sm"></i>
    </a>
</div>

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
        {% include './nav-search.njk' %}
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
        <!-- Language -->
        {% include './nav-languages.njk' %}
        <!--/ Language -->

        <!-- Style Switcher -->
        {% include './nav-switcher.njk' %}
        <!-- / Style Switcher-->

        <!-- Quick links  -->
        {% include './nav-quick-links.njk' %}
        <!-- Quick links -->

        <!-- Notification -->
        {% include './nav-notification.njk' %}
        <!--/ Notification -->

        {% if user %}
         <!-- User -->
        {% include './nav-user.njk' %}
        <!--/ User -->
        {% endif %}
    </ul>
</div>

<!-- Search Small Screens -->
<div class="navbar-search-wrapper search-input-wrapper d-none">
    <input type="text" class="form-control search-input container-xxl border-0" placeholder="Search..." aria-label="Search..." />
    <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
</div>
