<!-- Page JS -->
<script src="/assets/js/modal-edit-user.js"></script>
<script src="/assets/js/app-ecommerce-customer-detail.js"></script>
<script src="/assets/js/app-ecommerce-customer-detail-overview.js"></script>
