<!-- Page JS -->
<script src="/assets/js/modal-edit-user.js"></script>
<script src="/assets/js/modal-enable-otp.js"></script>
<script src="/assets/js/app-user-view.js"></script>
<script src="/assets/js/app-user-view-security.js"></script>
