<div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
    <div>
        ©
        <script>
            document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by <a href="https://www.nodecraftsman.com" target="_blank" class="fw-medium">Node Craftsman LLC, Salt Lake City, Utah</a>
    </div>

    <div class="d-none d-lg-inline-block">
        <a href="https://nodejs.org" class="footer-link me-4" target="_blank">NodeJs</a>
        <a href="https://expressjs.com/" target="_blank" class="footer-link me-4">ExpressJs</a>

        <a href="https://www.mongodb.com/" target="_blank" class="footer-link me-4">MongoDB</a>

        <a href="https://mozilla.github.io/nunjucks/" target="_blank" class="footer-link me-4">Nunjucks</a>

         <a href="https://react.dev/" target="_blank" class="footer-link me-4">ReactJs</a>

          <a href="https://vuejs.org/" target="_blank" class="footer-link d-none d-sm-inline-block">VueJs</a>
    </div>
   
</div>
