<div class="avatar avatar-xl avatar-{{user.status}}">
    <img src="{{user.avatar}}" alt="Avatar" class="rounded-circle" />
</div>
<h5 class="mt-2 mb-0">{{user.firstname}} {{user.lastname}}</h5>
<span>{{user.jobTitle}}</span>
<i class="ti ti-x ti-sm cursor-pointer close-sidebar" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-left"></i>
