<div class="sidebar-header d-flex flex-column justify-content-center align-items-center flex-wrap px-4 pt-5">
    <div class="avatar avatar-xl avatar-online" id="selected-chat-sidebar-user-status">
        <img src="{{user.avatar}}" alt="Avatar" class="rounded-circle"  id="selected-chat-sidebar-user-avatar"/>
    </div>
    <h6 class="mt-2 mb-0" id="selected-chat-sidebar-user-name">{{user.firstname}} {{user.lastname}}</h6>
    <span id="selected-chat-sidebar-user-job-title">NextJS Developer</span>
    <i class="ti ti-x ti-sm cursor-pointer close-sidebar d-block" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right"></i>
</div>
<div class="sidebar-body px-4 pb-4">
    <div class="my-4">
        <small class="text-muted text-uppercase">About</small>
        <p class="mb-0 mt-3" id="selected-chat-sidebar-user-about">
            A Next. js developer is a software developer who uses the Next. js framework alongside ReactJS to build web applications.
        </p>
    </div>
    <div class="my-4">
        <small class="text-muted text-uppercase">Personal Information</small>
        <ul class="list-unstyled d-grid gap-2 mt-3">
            <li class="d-flex align-items-center">
                <i class="ti ti-mail ti-sm"></i>
                <span class="align-middle ms-2" id="selected-chat-sidebar-user-email">josephGreen@email.com</span>
            </li>
            <li class="d-flex align-items-center">
                <i class="ti ti-phone-call ti-sm"></i>
                <span class="align-middle ms-2" id="selected-chat-sidebar-user-phone">+1(123) 456 - 7890</span>
            </li>
            <li class="d-flex align-items-center">
                <i class="ti ti-clock ti-sm"></i>
                <span class="align-middle ms-2">Mon - Fri 10AM - 8PM</span>
            </li>
        </ul>
    </div>
    <div class="mt-4">
        <small class="text-muted text-uppercase">Options</small>
        <ul class="list-unstyled d-grid gap-2 mt-3">
            <li class="cursor-pointer d-flex align-items-center">
                <i class="ti ti-badge ti-sm"></i>
                <span class="align-middle ms-2">Add Tag</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
                <i class="ti ti-star ti-sm"></i>
                <span class="align-middle ms-2">Important Contact</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
                <i class="ti ti-photo ti-sm"></i>
                <span class="align-middle ms-2">Shared Media</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
                <i class="ti ti-trash ti-sm"></i>
                <span class="align-middle ms-2">Delete Contact</span>
            </li>
            <li class="cursor-pointer d-flex align-items-center">
                <i class="ti ti-ban ti-sm"></i>
                <span class="align-middle ms-2">Block Contact</span>
            </li>
        </ul>
    </div>
</div>
