<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Natalie Maxwell</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">UI/UX Designer</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-busy">
            <img src="/assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Jess Cook</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Business Analyst</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="avatar d-block flex-shrink-0">
            <span class="avatar-initial rounded-circle bg-label-primary">LM</span>
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Louie Mason</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Resource Manager</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-busy">
            <img src="/assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Krystal Norton</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Business Executive</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/8.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Stacy Garrison</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Marketing Ninja</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="avatar d-block flex-shrink-0">
            <span class="avatar-initial rounded-circle bg-label-success">CM</span>
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Calvin Moore</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">UX Engineer</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-busy">
            <img src="/assets/img/avatars/10.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Mary Giles</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Account Department</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/13.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Waldemar Mannering</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">AWS Support</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="avatar d-block flex-shrink-0">
            <span class="avatar-initial rounded-circle bg-label-danger">AJ</span>
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Amy Johnson</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Frontend Developer</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Felecia Rower</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Cloud Engineer</p>
        </div>
    </a>
</li>
<li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-busy">
            <img src="/assets/img/avatars/11.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">William Stephens</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">Backend Developer</p>
        </div>
    </a>
</li>
