{% macro activity (user) %}
<div class="card card-action mb-4">
    <div class="card-header align-items-center">
        <h5 class="card-action-title mb-0">Activity Timeline</h5>
        <div class="card-action-element">
            <div class="dropdown">
                <button type="button" class="btn dropdown-toggle hide-arrow p-0" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="ti ti-dots-vertical text-muted"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="javascript:void(0);">Share timeline</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Suggest edits</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="javascript:void(0);">Report bug</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-body pb-0">
        <ul class="timeline ms-1 mb-0">
            <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-primary"></span>
                <div class="timeline-event">
                    <div class="timeline-header">
                        <h6 class="mb-0">Client Meeting</h6>
                        <small class="text-muted">Today</small>
                    </div>
                    <p class="mb-2">Project meeting with john @10:15am</p>
                    <div class="d-flex flex-wrap">
                        <div class="avatar me-2">
                            <img src="/assets/img/avatars/3.png" alt="Avatar" class="rounded-circle" />
                        </div>
                        <div class="ms-1">
                            <h6 class="mb-0">Lester McCarthy (Client)</h6>
                            <span>CEO of Infibeam</span>
                        </div>
                    </div>
                </div>
            </li>
            <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-success"></span>
                <div class="timeline-event">
                    <div class="timeline-header">
                        <h6 class="mb-0">Create a new project for client</h6>
                        <small class="text-muted">2 Day Ago</small>
                    </div>
                    <p class="mb-0">Add files to new design folder</p>
                </div>
            </li>
            <li class="timeline-item timeline-item-transparent">
                <span class="timeline-point timeline-point-danger"></span>
                <div class="timeline-event">
                    <div class="timeline-header">
                        <h6 class="mb-0">Shared 2 New Project Files</h6>
                        <small class="text-muted">6 Day Ago</small>
                    </div>
                    <p class="mb-2">
                        Sent by Mollie Dixon
                        <img src="/assets/img/avatars/4.png" class="rounded-circle me-3" alt="avatar" height="24" width="24" />
                    </p>
                    <div class="d-flex flex-wrap gap-2 pt-1">
                        <a href="javascript:void(0)" class="me-3">
                            <img src="/assets/img/icons/misc/doc.png" alt="Document image" width="15" class="me-2" />
                            <span class="fw-medium text-heading">App Guidelines</span>
                        </a>
                        <a href="javascript:void(0)">
                            <img src="/assets/img/icons/misc/xls.png" alt="Excel image" width="15" class="me-2" />
                            <span class="fw-medium text-heading">Testing Results</span>
                        </a>
                    </div>
                </div>
            </li>
            <li class="timeline-item timeline-item-transparent border-transparent">
                <span class="timeline-point timeline-point-info"></span>
                <div class="timeline-event">
                    <div class="timeline-header">
                        <h6 class="mb-0">Project status updated</h6>
                        <small class="text-muted">10 Day Ago</small>
                    </div>
                    <p class="mb-0">Woocommerce iOS App Completed</p>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endmacro %}