<!-- Vendors JS -->
<script src="/assets/vendor/libs/quill/katex.js"></script>
<script src="/assets/vendor/libs/quill/quill.js"></script>
<script src="/assets/vendor/libs/select2/select2.js"></script>
<script src="/assets/vendor/libs/block-ui/block-ui.js"></script>
