  {# <li class="email-list-item email-marked-read" data-sent="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-2" />
                            <label class="form-check-label" for="email-2"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/2.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Ross Geller</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Dessert soufflé tootsie roll soufflé carrot cake halvah jelly.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-info d-none d-md-inline-block me-2" data-label="important"></span>
                            <small class="email-list-item-time text-muted">10:12 AM</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item" data-draft="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-3" />
                            <label class="form-check-label" for="email-3"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <div class="avatar avatar-sm d-block flex-shrink-0 me-sm-3 me-2">
                            <span class="avatar-initial rounded-circle bg-label-success">BS</span>
                        </div>
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Barney Stinson</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Soufflé apple pie caramels soufflé tiramisu bear claw.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-attachment ti ti-paperclip ti-xs cursor-pointer me-2 float-end float-sm-none"></span>
                            <span class="email-list-item-label badge badge-dot bg-primary d-none d-md-inline-block me-2" data-label="company"></span>
                            <small class="email-list-item-time text-muted">12:44 AM</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-read"><i class="ti ti-mail-opened ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-starred="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-4" />
                            <label class="form-check-label" for="email-4"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/3.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Pheobe Buffay</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Tart croissant jujubes gummies macaroon Icing sweet.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-success d-none d-md-inline-block me-2" data-label="work"></span>
                            <small class="email-list-item-time text-muted">Yesterday</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-spam="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-5" />
                            <label class="form-check-label" for="email-5"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/4.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Ted Mosby</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, I love Pudding cookie chocolate sweet tiramisu jujubes I love danish.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-primary d-none d-md-inline-block me-2" data-label="company"></span>
                            <small class="email-list-item-time text-muted">Yesterday</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item" data-trash="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-6" />
                            <label class="form-check-label" for="email-6"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <div class="avatar avatar-sm d-block flex-shrink-0 me-sm-3 me-2">
                            <span class="avatar-initial rounded-circle bg-label-info">Sk</span>
                        </div>
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Stacy Cooper</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, I love danish. Cupcake I love carrot cake sugar plum I love.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-info d-none d-md-inline-block me-2" data-label="work"></span>
                            <small class="email-list-item-time text-muted">5 May</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-read"><i class="ti ti-mail-opened ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-draft="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-7" />
                            <label class="form-check-label" for="email-7"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/5.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Rachel Green</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Chocolate cake pudding chocolate bar ice cream bonbon lollipop.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-primary d-none d-md-inline-block me-2" data-label="company"></span>
                            <small class="email-list-item-time text-muted">15 May</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-starred="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-8" />
                            <label class="form-check-label" for="email-8"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/6.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Grace Shelby</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Icing gummi bears ice cream croissant dessert wafer.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-attachment ti ti-paperclip ti-xs cursor-pointer me-2 float-end float-sm-none"></span>
                            <span class="email-list-item-label badge badge-dot bg-danger d-none d-md-inline-block me-2" data-label="private"></span>
                            <small class="email-list-item-time text-muted">20 Apr</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-spam="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-9" />
                            <label class="form-check-label" for="email-9"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <div class="avatar avatar-sm d-block flex-shrink-0 me-sm-3 me-2">
                            <span class="avatar-initial rounded-circle bg-label-danger">JF</span>
                        </div>
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Jacob Frye</span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, Chocolate cake pudding chocolate bar ice cream Sweet.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-info d-none d-md-inline-block me-2" data-label="important"></span>
                            <small class="email-list-item-time text-muted">25 Mar</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="email-list-item email-marked-read" data-trash="true" data-bs-toggle="sidebar" data-target="#app-email-view">
                    <div class="d-flex align-items-center">
                        <div class="form-check mb-0">
                            <input class="email-list-item-input form-check-input" type="checkbox" id="email-10" />
                            <label class="form-check-label" for="email-10"></label>
                        </div>
                        <i class="email-list-item-bookmark ti ti-star ti-sm d-sm-inline-block d-none cursor-pointer ms-2 me-3"></i>
                        <img src="/assets/img/avatars/9.png" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-3 me-2" height="32" width="32" />
                        <div class="email-list-item-content ms-2 ms-sm-0 me-2">
                            <span class="h6 email-list-item-username me-2">Alistair Crowley </span>
                            <span class="email-list-item-subject d-xl-inline-block d-block"> Hey Katy, I love danish. Cupcake I love carrot cake sugar plum I love.</span>
                        </div>
                        <div class="email-list-item-meta ms-auto d-flex align-items-center">
                            <span class="email-list-item-label badge badge-dot bg-primary d-none d-md-inline-block me-2" data-label="company"></span>
                            <small class="email-list-item-time text-muted">25 Feb</small>
                            <ul class="list-inline email-list-item-actions text-nowrap">
                                <li class="list-inline-item email-unread"><i class="ti ti-mail ti-sm"></i></li>
                                <li class="list-inline-item email-delete"><i class="ti ti-trash ti-sm"></i></li>
                                <li class="list-inline-item"><i class="ti ti-archive ti-sm"></i></li>
                            </ul>
                        </div>
                    </div>
                </li> #}