<div class="col app-email-view flex-grow-0 bg-body" id="app-email-view">
    <div class="card shadow-none border-0 rounded-0 app-email-view-header p-3 py-md-3 py-2">
        <!-- Email View : Title  bar-->
        <div class="d-flex justify-content-between align-items-center py-2">
            <div class="d-flex align-items-center overflow-hidden">
                <i class="ti ti-chevron-left ti-sm cursor-pointer me-2" data-bs-toggle="sidebar" data-target="#app-email-view"></i>
                <h6 class="text-truncate mb-0 me-2">Focused impactful open issues</h6>
                <span class="badge bg-label-danger rounded-pill">Private</span>
            </div>
            <!-- Email View : Action  bar-->
            <div class="d-flex align-items-center">
                <i class="ti ti-printer ti-sm mt-1 cursor-pointer d-sm-block d-none"></i>
                <div class="dropdown ms-3">
                    <button class="btn p-0" type="button" id="dropdownMoreOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-dots-vertical ti-sm"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMoreOptions">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-mail ti-xs me-1"></i>
                            <span class="align-middle">Mark as unread</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-mail-opened ti-xs me-1"></i>
                            <span class="align-middle">Mark as unread</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-star ti-sm me-1"></i>
                            <span class="align-middle">Add star</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-calendar ti-xs me-1"></i>
                            <span class="align-middle">Create Event</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-volume-off ti-xs me-1"></i>
                            <span class="align-middle">Mute</span>
                        </a>
                        <a class="dropdown-item d-sm-none d-block" href="javascript:void(0)">
                            <i class="ti ti-printer ti-xs me-1"></i>
                            <span class="align-middle">Print</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="app-email-view-hr mx-n3 mb-2" />
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <i class="ti ti-trash ti-sm cursor-pointer me-3" data-bs-toggle="sidebar" data-target="#app-email-view"></i>
                <i class="ti ti-mail-opened ti-sm cursor-pointer me-3"></i>
                <div class="dropdown me-3">
                    <button class="btn p-0" type="button" id="dropdownMenuFolderTwo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-folder ti-sm"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuFolderTwo">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-info-circle ti-xs me-1"></i>
                            <span class="align-middle">Spam</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-pencil ti-xs me-1"></i>
                            <span class="align-middle">Draft</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="ti ti-trash ti-xs me-1"></i>
                            <span class="align-middle">Trash</span>
                        </a>
                    </div>
                </div>
                <div class="dropdown me-3">
                    <button class="btn p-0" type="button" id="dropdownLabelTwo" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="ti ti-tag ti-sm"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLabelTwo">
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="badge badge-dot bg-success me-1"></i>
                            <span class="align-middle">Workshop</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="badge badge-dot bg-primary me-1"></i>
                            <span class="align-middle">Company</span>
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                            <i class="badge badge-dot bg-info me-1"></i>
                            <span class="align-middle">Important</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center flex-wrap justify-content-end">
                <span class="d-sm-block d-none mx-3 text-muted">1-10 of 653</span>
                <i class="ti ti-chevron-left ti-sm scaleX-n1-rtl cursor-pointer text-muted me-2"></i>
                <i class="ti ti-chevron-right ti-sm scaleX-n1-rtl cursor-pointer"></i>
            </div>
        </div>
    </div>
    <hr class="m-0" />
    <!-- Email View : Content-->
    <div class="app-email-view-content py-4" id="user-email-content">
        <p class="email-earlier-msgs text-center text-muted cursor-pointer mb-5"> Earlier Message</p>
      
        <!-- Email View : Previous mails-->
        <div class="card email-card-prev mx-sm-4 mx-3">
            <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex align-items-center mb-sm-0 mb-3">
                    <img src="/assets/img/avatars/2.png" alt="user-avatar" class="flex-shrink-0 rounded-circle me-3" height="40" width="40" />
                    <div class="flex-grow-1 ms-1">
                        <h6 class="m-0">Ross Geller</h6>
                        <small class="text-muted">rossGeller@email.com</small>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <p class="mb-0 me-3 text-muted">June 20th 2020, 08:30 AM</p>
                    <i class="ti ti-paperclip cursor-pointer me-2"></i>
                    <i class="email-list-item-bookmark ti ti-star ti-sm cursor-pointer me-2"></i>
                    <div class="dropdown me-3 d-flex align-self-center">
                        <button class="btn p-0" type="button" id="dropdownEmailOne" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailOne">
                            <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                <i class="ti ti-corner-up-left me-1"></i>
                                <span class="align-middle">Reply</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-corner-up-right me-1"></i>
                                <span class="align-middle">Forward</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-alert-octagon me-1"></i>
                                <span class="align-middle">Report</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="fw-medium">Greetings!</p>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here',making it look like readable English.
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
                <p class="mb-0">Sincerely yours,</p>
                <p class="fw-medium mb-0">Envato Design Team</p>
                <hr />
                <p class="email-attachment-title mb-2">Attachments</p>
                <div class="cursor-pointer">
                    <i class="ti ti-file"></i>
                    <span class="align-middle ms-1">report.xlsx</span>
                </div>
            </div>
        </div>
           <div class="card email-card-prev mx-sm-4 mx-3">
            <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex align-items-center mb-sm-0 mb-3">
                    <img src="/assets/img/avatars/2.png" alt="user-avatar" class="flex-shrink-0 rounded-circle me-3" height="40" width="40" />
                    <div class="flex-grow-1 ms-1">
                        <h6 class="m-0">Ross Geller</h6>
                        <small class="text-muted">rossGeller@email.com</small>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <p class="mb-0 me-3 text-muted">June 20th 2020, 08:30 AM</p>
                    <i class="ti ti-paperclip cursor-pointer me-2"></i>
                    <i class="email-list-item-bookmark ti ti-star ti-sm cursor-pointer me-2"></i>
                    <div class="dropdown me-3 d-flex align-self-center">
                        <button class="btn p-0" type="button" id="dropdownEmailOne" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailOne">
                            <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                <i class="ti ti-corner-up-left me-1"></i>
                                <span class="align-middle">Reply</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-corner-up-right me-1"></i>
                                <span class="align-middle">Forward</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-alert-octagon me-1"></i>
                                <span class="align-middle">Report</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="fw-medium">Greetings!</p>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here',making it look like readable English.
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
                <p class="mb-0">Sincerely yours,</p>
                <p class="fw-medium mb-0">Envato Design Team</p>
                <hr />
                <p class="email-attachment-title mb-2">Attachments</p>
                <div class="cursor-pointer">
                    <i class="ti ti-file"></i>
                    <span class="align-middle ms-1">report.xlsx</span>
                </div>
            </div>
        </div>
           <div class="card email-card-prev mx-sm-4 mx-3">
            <div class="card-header d-flex justify-content-between align-items-center flex-wrap">
                <div class="d-flex align-items-center mb-sm-0 mb-3">
                    <img src="/assets/img/avatars/2.png" alt="user-avatar" class="flex-shrink-0 rounded-circle me-3" height="40" width="40" />
                    <div class="flex-grow-1 ms-1">
                        <h6 class="m-0">Ross Geller</h6>
                        <small class="text-muted">rossGeller@email.com</small>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <p class="mb-0 me-3 text-muted">June 20th 2020, 08:30 AM</p>
                    <i class="ti ti-paperclip cursor-pointer me-2"></i>
                    <i class="email-list-item-bookmark ti ti-star ti-sm cursor-pointer me-2"></i>
                    <div class="dropdown me-3 d-flex align-self-center">
                        <button class="btn p-0" type="button" id="dropdownEmailOne" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ti ti-dots-vertical"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownEmailOne">
                            <a class="dropdown-item scroll-to-reply" href="javascript:void(0)">
                                <i class="ti ti-corner-up-left me-1"></i>
                                <span class="align-middle">Reply</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-corner-up-right me-1"></i>
                                <span class="align-middle">Forward</span>
                            </a>
                            <a class="dropdown-item" href="javascript:void(0)">
                                <i class="ti ti-alert-octagon me-1"></i>
                                <span class="align-middle">Report</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p class="fw-medium">Greetings!</p>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                    opposed to using 'Content here, content here',making it look like readable English.
                </p>
                <p>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                </p>
                <p class="mb-0">Sincerely yours,</p>
                <p class="fw-medium mb-0">Envato Design Team</p>
                <hr />
                <p class="email-attachment-title mb-2">Attachments</p>
                <div class="cursor-pointer">
                    <i class="ti ti-file"></i>
                    <span class="align-middle ms-1">report.xlsx</span>
                </div>
            </div>
        </div>
        <!-- Email View : Last mail-->
         {% include './mail-card-content-last.njk' %}

    </div>
</div>
