<li class="chat-message chat-message-right">
    <div class="d-flex overflow-hidden">
        <div class="chat-message-wrapper flex-grow-1">
            <div class="chat-message-text">
                <p class="mb-0">How can we help? We're here for you! 😄</p>
            </div>
            <div class="text-end text-muted mt-1">
                <i class="ti ti-checks ti-xs me-1 text-success"></i>
                <small>10:00 AM</small>
            </div>
        </div>
        <div class="user-avatar flex-shrink-0 ms-3">
            <div class="avatar avatar-sm">
                <img src="/assets/img/avatars/1.png" alt="Avatar" class="rounded-circle" />
            </div>
        </div>
    </div>
</li>
