<li class="chat-message">
    <div class="d-flex overflow-hidden">
        <div class="user-avatar flex-shrink-0 me-3">
            <div class="avatar avatar-sm">
                <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
            </div>
        </div>
        <div class="chat-message-wrapper flex-grow-1">
            <div class="chat-message-text">
                <p class="mb-0">Hey John, I am looking for the best admin template.</p>
                <p class="mb-0">Could you please help me to find it out? 🤔</p>
            </div>
            <div class="chat-message-text mt-2">
                <p class="mb-0">It should be Bootstrap 5 compatible.</p>
            </div>
            <div class="text-muted mt-1">
                <small>10:02 AM</small>
            </div>
        </div>
    </div>
</li>
