<div class="d-flex align-items-center">
    <i class="ti ti-phone-call cursor-pointer d-sm-block d-none me-3"></i>
    <i class="ti ti-video cursor-pointer d-sm-block d-none me-3"></i>
    <i class="ti ti-search cursor-pointer d-sm-block d-none me-3"></i>
    <div class="dropdown d-flex align-self-center">
        <button class="btn p-0" type="button" id="chat-header-actions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ti ti-dots-vertical"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="chat-header-actions">
            <a class="dropdown-item" href="javascript:void(0);">View Contact</a>
            <a class="dropdown-item" href="javascript:void(0);">Mute Notifications</a>
            <a class="dropdown-item" href="javascript:void(0);">Block Contact</a>
            <a class="dropdown-item" href="javascript:void(0);">Clear Chat</a>
            <a class="dropdown-item" href="javascript:void(0);">Report</a>
        </div>
    </div>
</div>
