 <li class="chat-contact-list-item">
    <a class="d-flex align-items-center">
        <div class="flex-shrink-0 avatar avatar-offline">
            <img src="/assets/img/avatars/4.png" alt="Avatar" class="rounded-circle" />
        </div>
        <div class="chat-contact-info flex-grow-1 ms-2">
            <h6 class="chat-contact-name text-truncate m-0">Natalie Maxwell</h6>
            <p class="chat-contact-status text-muted text-truncate mb-0">UI/UX Designer</p>
        </div>
    </a>
</li>
